<div class="content-wrap" ng-app="dashboard">
	<!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
	<main id="content" class="content" role="main"> <!--<ol class="breadcrumb">-->
	<!--<li>YOU ARE HERE</li>--> <!--<li class="active">Widgets</li>--> <!--</ol>-->
	<!--<h1 class="page-title">Widgets - <span class="fw-semi-bold">Options</span></h1>-->
	<section class="widget">
		<header>
			<h4>
					<i class="glyphicon glyphicon-transfer"></i><span class="fw-semi-bold">Mobility</span>
			</h4>
		</header>
		<div class="widget-body">
        <button type="button" class="btn btn-primary" ng-click="load_data('distance')">Sort by distance</button>
        <button type="button" class="btn btn-success" ng-click="load_data('count')">Sort by people count</button>
        <h2>Hlavní nádraží</h2>
        <div ng-controller="node3">
            <nvd3 options="options" data="data" api="api"></nvd3>
        </div>
        <h2>Královo pole nádraží</h2>
        <div ng-controller="node1">
            <nvd3 options="options" data="ccData" api="api"></nvd3>
        </div>
        <h2>Stará osada</h2>
        <div ng-controller="node2">
            <nvd3 options="options" data="rcData" api="api"></nvd3>
        </div>
		</div>
        <div id="clients" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">{{automaton}}</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>triname</th>
                                    <th>client</th>
                                    <th>since</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="c in clients">
                                <td>{{c.triname}}</td>
                                <td>{{c.client}}</td>
                                <td>{{c.reviewed|date:'yyyy-MM-dd HH:mm'}}</td>
                            </tr> 
                            </tbody>
                        </table>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="executions" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">{{automaton}}</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>execution_id</th>
                                    <th>triname</th>
                                    <th>client</th>
                                    <th>executed</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="e in executions">
                                <td><a href="https://ipctrprodeu.ipctrnl02.com/IPautomata/executionDetails.htm?executionID={{e.execution_id}}" target="_blank">{{e.execution_id}}</a></td>
                                <td>{{e.triname}}</td>
                                <td>{{e.client}}</td>
                                <td>{{e.created|date:'yyyy-MM-dd HH:mm'}}</td>
                            </tr> 
                            </tbody>
                        </table>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>
	</main>

</div>
<script src="src/app/qa_comp/qa_comp.js"></script>
<script src="vendor/angular-nvd3/d3.js"></script>
<script src="vendor/angular-nvd3/nv.d3.js"></script>

