<div class="content-wrap" ng-app="dashboard">
	<!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
	<main id="content" class="content" role="main"> <!--<ol class="breadcrumb">-->
	<!--<li>YOU ARE HERE</li>--> <!--<li class="active">Widgets</li>--> <!--</ol>-->
	<!--<h1 class="page-title">Widgets - <span class="fw-semi-bold">Options</span></h1>-->
	<section class="widget">
		<header>
			<h4>
					<i class="glyphicon glyphicon-user"></i><span class="fw-semi-bold">Gender by time </span>
			</h4>
		</header>
		<div class="widget-body">
			 <div class="mt">
                <table ng-table="tableParams" class="table table-hover table-condensed table ng-table-responsive"
					show-filter="true">
					<tr ng-repeat="data in $data"
						ng-class="{
            info: (data.failrate <= 0.1), 
            danger: (data.failrate > 0.1)
            }">
						<div class="alert alert-danger" role="alert" ng-show="noMatch">
							<strong>Oh snap!</strong> Noting found!
						</div>
				
						<td title="'name'" sortable="'name'" filter="{ 'name' : 'text'}" ng-click="load_data(data.region_id, data.name)">{{data.name}}</td>
						<td title="'lon'" sortable="'lon'">{{data.lon}}</td>
						<td title="'lat'" sortable="'lat'">{{data.lat}}</td>
                        <td title="'radius'" sortable="'radius'">{{data.radius}}</td>
					</tr>
				</table>
			</div>

        <h2>{{name}}</h2>
        <div id="chart">
            <nvd3 options="options" data="data" api="api"></nvd3>
        </div>
		</div>
        <div id="clients" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">{{automaton}}</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>triname</th>
                                    <th>client</th>
                                    <th>since</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="c in clients">
                                <td>{{c.triname}}</td>
                                <td>{{c.client}}</td>
                                <td>{{c.reviewed|date:'yyyy-MM-dd HH:mm'}}</td>
                            </tr> 
                            </tbody>
                        </table>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="executions" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">{{automaton}}</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>execution_id</th>
                                    <th>triname</th>
                                    <th>client</th>
                                    <th>executed</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="e in executions">
                                <td><a href="https://ipctrprodeu.ipctrnl02.com/IPautomata/executionDetails.htm?executionID={{e.execution_id}}" target="_blank">{{e.execution_id}}</a></td>
                                <td>{{e.triname}}</td>
                                <td>{{e.client}}</td>
                                <td>{{e.created|date:'yyyy-MM-dd HH:mm'}}</td>
                            </tr> 
                            </tbody>
                        </table>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>
	</main>

</div>
<script src="src/app/qa_comp/qa_comp.js"></script>
<script src="vendor/angular-nvd3/d3.js"></script>
<script src="vendor/angular-nvd3/nv.d3.js"></script>

