<div class="content-wrap" ng-app="dashboard">
	<!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
	<main id="content" class="content" role="main"> <!--<ol class="breadcrumb">-->
	<!--<li>YOU ARE HERE</li>--> <!--<li class="active">Widgets</li>--> <!--</ol>-->
	<!--<h1 class="page-title">Widgets - <span class="fw-semi-bold">Options</span></h1>-->
	<section class="widget">
		<header>
			<h4>
				Regions<span class="fw-semi-bold"></span>
			</h4>
		</header>
		<div class="widget-body">
            <iframe src="https://www.google.com/maps/d/embed?mid=1jjO0yO556B-e8tDE0rcgXueanas" width="1024" height="768"></iframe>
		</div>
	</section>
	</main>
</div>
